header nav {
    justify-content: center;
}

header nav ul {
    margin-left: 0;
}

section#videos #video-wrapper {
    flex-direction: column;
    align-items: center;
}

/* not working, invalid property value
section#videos #video-wrapper {
    flex: 1 0 2;
} */

section#videos #video-wrapper #current-video img {
    padding-right: 0;
}

section#videos #video-wrapper #video-list {
    align-items: center;
}

section#partner-form form .form-wrapper {
    flex-direction: column;
}

.footer-container {
    flex-direction: column;
}

.footer-container .wrapper:first-child {
    order: 1;
    text-align: center;
}

footer .footer-container .wrapper:last-child {
    text-align: center;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
    header nav {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li:last-child {
        padding: 1rem;
    }
    
}