body {
    background-color: tomato;
}

header {
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 1px solid black;
}

#navlinks {
    list-style: none;
    font-size: 40px;
}

#login {
    float: right;
}

#content {
    display: flex;
    flex-direction: row;
}

aside {
    flex: 0.1;
    border-right: 1px solid black;
}

main {
    flex: 0.9;
}

section {
    margin: 30px;
}

#section1 {
    display: flex;
    justify-content: space-between;
}
 
#section2 {
    display: flex;
}

#section2-article {
    margin-left: 20px;
} 

#section3 form {
    display: flex;
    flex-direction: row;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item input[type="email"], input[type="submit"], #label-email  {
    margin-left: 10px;
}

#form-submit {
    display: flex;
    flex-direction: column-reverse;
}

table {
     width: 40%;
}

th, td {
    text-align: center;
}